
{% extends 'nabvar.html' %}

{% load crispy_forms_tags %}
{% block content %}


  <div id="content-wrapper" class="d-flex flex-column">
    {% if form.errors %}

        <div class="alert alert-danger" role="alert">
             No fue posible cambiar datos del alumno
        </div>

    {% endif %}

    <p></p>
    <p></p>
    <p></p>

    <h1> Modificar asginacion de  curso y sucursal </h1>

    <form method="POST" >

        {% csrf_token %}
        {% if mensaje %}

        <div class="alert alert-success" role="alert">
            Modificacion exitosa
        </div>
        {% endif %}

        {{ form|crispy}}

            <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
    </div>

{% endblock %}