
{% extends "nabvar.html" %}

{% block content %}

    <p></p>

<div class="container-fluid">


    <div class="card shadow mb-4">

          <!-- Page Heading -->
          <div class="card-header py-3">
              <h3 class="m-0 font-weight-bold text-primary">Niveles</h3>
            </div>

          <!-- DataTales  -->
            <div class="ca  rd-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope= "col">Codigo</th>
                      <th scope= "col">Nombre</th>
                      <th scope= "col">Grado</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for Nivel in lb_niveles %}
                    <tr>
                      <th scope="row">{{ Nivel.pk }}</th>
                      <td>{{ Nivel.nombre_nivel}}</td>
                      <td>{{ Nivel.grado_id_grado}}</td>
                        <td>
                            <div class="my-2"></div>
                            <a href="{% url 'deleteLevel' Nivel.pk %}" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                            <div class="my-2"></div>
                        </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
    </div>
</div>

{% endblock %}